body {
    margin: 0px auto;
    /*border: 1px solid red;*/
    padding: 10px;
    height: 100%;
}

@media screen and (min-width:800px) {
    body {
        width: 800px;
        margin: 0px auto;
    }
}

table.tbl {
    /*width: 100%;*/
    border-collapse: collapse;
}

table.tbl td {
    border: 1px solid #bbbbbb;
}

div.search {
    margin: 15px 0px;
}

a {
    text-decoration: none;
}